{
  "openapi": "3.0.1",
  "info": {
    "title": "api.domain.ai",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hyperleapai.com"
    }
  ],
  "paths": {
    "/prompt-runs/run-sync": {
      "post": {
        "tags": ["Prompts"],
        "summary": "Run Prompt (Non-streaming)",
        "description": "Run a specific prompt based on the Prompt ID and Prompt Version ID passed in. Recommended when creating classifiers to make decisions, since full response is available for decision making",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/prompt-runs/async": {
      "post": {
        "tags": ["Prompts"],
        "summary": "Run Prompt (HTTP/2 Streaming)",
        "description": "Run a specific prompt based on the Prompt ID and Prompt Version ID passed in. The results will be streamed using HTTP/2. Not recommended when creating classifiers to make decisions, since full response is not available for decision making.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/prompt-runs/run-sse": {
      "post": {
        "tags": ["Prompts"],
        "summary": "Run Prompt (SSE Streaming)",
        "description": "Run a specific prompt based on the Prompt ID and Prompt Version ID passed in. The results will be streamed using SSE. Not recommended when creating classifiers to make decisions, since full response is not available for decision making.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GenAiStreamingChatChoice"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GenAiStreamingChatChoice"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GenAiStreamingChatChoice"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/conversations": {
      "post": {
        "tags": ["Conversations"],
        "summary": "Create a General Conversation",
        "description": "Create a General Conversation, without targetting a Persona.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGenAiChatRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGenAiChatRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGenAiChatRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "get": {
        "tags": ["Conversations"],
        "summary": "Get All Conversations",
        "description": "Get all the conversations for the specified caller, 10 at a time.",
        "parameters": [
          {
            "name": "continuationToken",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponseResultSet"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponseResultSet"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponseResultSet"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/conversations/persona": {
      "post": {
        "tags": ["Conversations"],
        "summary": "Create a Persona Conversation",
        "description": "Start a Conversation with a Persona.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGenAiPersonaChatRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGenAiPersonaChatRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGenAiPersonaChatRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/conversations/persona/{personaId}": {
      "get": {
        "tags": ["Conversations"],
        "summary": "Get All Conversations with a Persona",
        "description": "Get all the persona conversations for the specified caller, 10 at a time.",
        "parameters": [
          {
            "name": "personaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "continuationToken",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponseResultSet"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponseResultSet"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponseResultSet"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/conversations/user/{externalUserId}": {
      "get": {
        "tags": ["Conversations"],
        "summary": "Get User Conversations",
        "description": "Get all the conversations for the caller and a specific external user, 10 at a time.",
        "parameters": [
          {
            "name": "externalUserId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "continuationToken",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponseResultSet"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponseResultSet"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponseResultSet"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/conversations/{conversationId}/chat-http2": {
      "patch": {
        "tags": ["Conversations"],
        "summary": "Continue (HTTP/2 Streaming)",
        "description": "Send a user message and continue an existing Conversation. Streams response using HTTP/2 (recommended).",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenAiUserMessage"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GenAiUserMessage"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GenAiUserMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GenAiStreamingChatChoice"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenAiStreamingChatChoice"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenAiStreamingChatChoice"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/conversations/{conversationId}/chat-sse": {
      "patch": {
        "tags": ["Conversations"],
        "summary": "Continue (SSE Streaming)",
        "description": "Send a user message and continue an existing Conversation. Streams response using SSE.",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenAiUserMessage"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GenAiUserMessage"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GenAiUserMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GenAiStreamingChatChoice"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenAiStreamingChatChoice"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenAiStreamingChatChoice"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/conversations/{conversationId}/chat": {
      "patch": {
        "tags": ["Conversations"],
        "summary": "Continue Chat",
        "description": "Send a user message and continue an existing Conversation. Full response will be sent at once (not recommended especially for longer responses).",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "stream",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenAiUserMessage"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GenAiUserMessage"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GenAiUserMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GenAiChatResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenAiChatResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenAiChatResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/conversations/{conversationId}": {
      "get": {
        "tags": ["Conversations"],
        "summary": "Get Specific Conversation",
        "description": "Get the Conversation based on the ConversationId passed in.",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/conversations/{conversationId}/set-active": {
      "patch": {
        "tags": ["Conversations"],
        "summary": "Set Conversation as Active",
        "description": "Set the specified Conversation as active.",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateChatEntrySetConversationActiveRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateChatEntrySetConversationActiveRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateChatEntrySetConversationActiveRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/conversations/{conversationId}/set-metadata": {
      "patch": {
        "tags": ["Conversations"],
        "summary": "Set Conversation's Metadata",
        "description": "Set the specified Conversation's Metadata.",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateChatEntrySetConversationMetadataRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateChatEntrySetConversationMetadataRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateChatEntrySetConversationMetadataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/conversations/{conversationId}/set-conversation-name": {
      "patch": {
        "tags": ["Conversations"],
        "summary": "Set Conversation's Name",
        "description": "Set the Conversation's name.",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateChatEntrySetConversationNameRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateChatEntrySetConversationNameRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateChatEntrySetConversationNameRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/conversations/{conversationId}/set-conversation-status": {
      "patch": {
        "tags": ["Conversations"],
        "summary": "Set Conversation's Status",
        "description": "Set the status for a specified Conversation.",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateChatEntrySetConversationStatusRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateChatEntrySetConversationStatusRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateChatEntrySetConversationStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/conversations/{conversationId}/set-score": {
      "patch": {
        "tags": ["Capture Feedback"],
        "summary": "Set Conversation Score",
        "description": "Set the Conversation's Score (while gathering user feedback).",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConversationScoreRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConversationScoreRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConversationScoreRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/conversations/{conversationId}/set-score/{messageId}": {
      "patch": {
        "tags": ["Capture Feedback"],
        "summary": "Set Message's Score",
        "description": "Set the Message Score in a Conversation (while gathering user feedback).",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "messageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertRunScoreRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertRunScoreRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertRunScoreRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/prompt-runs/{promptRunId}/set-score": {
      "patch": {
        "tags": ["Capture Feedback"],
        "summary": "Set Prompt run Score",
        "description": "Update the score parameters for a Prompt run based on User feedback.",
        "parameters": [
          {
            "name": "promptRunId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePromptRunScoreRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePromptRunScoreRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePromptRunScoreRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/audit/conversations": {
      "post": {
        "tags": ["Audit Report"],
        "summary": "Conversations",
        "description": "Get Conversations for audit based on filter conditions passed in.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/audit/prompt-runs": {
      "post": {
        "tags": ["Audit Report"],
        "summary": "Prompt runs",
        "description": "Get Prompt runs for audit based on filter conditions passed in.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/audit/prompt-run/{promptRunId}": {
      "get": {
        "tags": ["Audit Report"],
        "summary": "Prompt run details",
        "description": "Get details of a specific prompt run for audit.",
        "parameters": [
          {
            "name": "promptRunId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/audit/conversation-run/{conversationRunId}": {
      "get": {
        "tags": ["Audit Report"],
        "summary": "Conversation run details",
        "description": "Get details of a specific conversation run for audit.",
        "parameters": [
          {
            "name": "conversationRunId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/feedback-report/conversations": {
      "post": {
        "tags": ["Feedback Report"],
        "summary": "Conversations",
        "description": "Get Conversations for feedback analysis based on filter conditions passed in.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeedbackReportRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FeedbackReportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FeedbackReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/feedback-report/prompt-runs": {
      "post": {
        "tags": ["Feedback Report"],
        "summary": "Prompt runs",
        "description": "Get Prompt runs for feedback analysis based on filter conditions passed in.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/moderations": {
      "post": {
        "tags": ["Moderations"],
        "summary": "Moderations Check",
        "description": "Gets information on whether the user input contains any intent that is sexual, hatred, harassment, self-harm or violent in nature.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenAiModerationsRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenAiModerationsRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/OpenAiModerationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AiProvider": {
        "enum": [0, 1, 2, 3, 4, 5, 6],
        "type": "integer",
        "format": "int32"
      },
      "AiSystem": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "config": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AiSystemConfigItem"
            },
            "nullable": true
          },
          "isActive": {
            "type": "boolean"
          },
          "isChattable": {
            "type": "boolean"
          },
          "defaultModel": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AiSystemConfigItem": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "default": {
            "nullable": true
          },
          "min": {
            "type": "number",
            "format": "double"
          },
          "max": {
            "type": "number",
            "format": "double"
          }
        },
        "additionalProperties": false
      },
      "AiSystemModel": {
        "type": "object",
        "properties": {
          "system": {
            "type": "string",
            "nullable": true
          },
          "family": {
            "type": "string",
            "nullable": true
          },
          "model": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "max_tokens": {
            "type": "integer",
            "format": "int32"
          },
          "update_type": {
            "type": "string",
            "nullable": true
          },
          "allowed_parameters": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true
          },
          "expires_at": {
            "type": "integer",
            "format": "int64"
          },
          "isActive": {
            "type": "boolean"
          },
          "isChattable": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "Assembly": {
        "type": "object",
        "properties": {
          "definedTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TypeInfo"
            },
            "nullable": true,
            "readOnly": true
          },
          "exportedTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Type"
            },
            "nullable": true,
            "readOnly": true
          },
          "codeBase": {
            "type": "string",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "entryPoint": {
            "$ref": "#/components/schemas/MethodInfo"
          },
          "fullName": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "imageRuntimeVersion": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "isDynamic": {
            "type": "boolean",
            "readOnly": true
          },
          "location": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "reflectionOnly": {
            "type": "boolean",
            "readOnly": true
          },
          "isCollectible": {
            "type": "boolean",
            "readOnly": true
          },
          "isFullyTrusted": {
            "type": "boolean",
            "readOnly": true
          },
          "customAttributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomAttributeData"
            },
            "nullable": true,
            "readOnly": true
          },
          "escapedCodeBase": {
            "type": "string",
            "nullable": true,
            "readOnly": true,
            "deprecated": true
          },
          "manifestModule": {
            "$ref": "#/components/schemas/Module"
          },
          "modules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Module"
            },
            "nullable": true,
            "readOnly": true
          },
          "globalAssemblyCache": {
            "type": "boolean",
            "readOnly": true,
            "deprecated": true
          },
          "hostContext": {
            "type": "integer",
            "format": "int64",
            "readOnly": true
          },
          "securityRuleSet": {
            "$ref": "#/components/schemas/SecurityRuleSet"
          }
        },
        "additionalProperties": false
      },
      "AssistantStats": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int32"
          },
          "published": {
            "type": "integer",
            "format": "int32"
          },
          "runs": {
            "$ref": "#/components/schemas/RunStats"
          }
        },
        "additionalProperties": false
      },
      "AuditFeedback": {
        "type": "object",
        "properties": {
          "score": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "scoreText": {
            "type": "string",
            "nullable": true
          },
          "scoreTags": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AuditReportRequest": {
        "type": "object",
        "properties": {
          "callerId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "startDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "endDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "pageSize": {
            "maximum": 20,
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          },
          "appHeaders": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "nullable": true
            },
            "nullable": true
          },
          "promptId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "promptVersionId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "promptRunId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "conversationRunId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "workspaceId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "conversationId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "lookupTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "readOnly": true
          },
          "userId": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "readOnly": true
          },
          "isAdmin": {
            "type": "boolean",
            "readOnly": true
          },
          "organizationId": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "readOnly": true
          },
          "continuationToken": {
            "type": "string",
            "nullable": true
          },
          "includeFeedback": {
            "type": "boolean"
          },
          "feedback": {
            "$ref": "#/components/schemas/AuditFeedback"
          }
        },
        "additionalProperties": false
      },
      "AuthWindow": {
        "type": "object",
        "properties": {
          "header": {
            "$ref": "#/components/schemas/AuthWindowHeader"
          },
          "body": {
            "$ref": "#/components/schemas/AuthWindowBody"
          }
        },
        "additionalProperties": false
      },
      "AuthWindowBody": {
        "type": "object",
        "properties": {
          "bodyHeading": {
            "type": "string",
            "nullable": true
          },
          "nameInputLabel": {
            "type": "string",
            "nullable": true
          },
          "nameInputPlaceholder": {
            "type": "string",
            "nullable": true
          },
          "nameEnabled": {
            "type": "boolean"
          },
          "phoneInputLabel": {
            "type": "string",
            "nullable": true
          },
          "phoneInputPlaceholder": {
            "type": "string",
            "nullable": true
          },
          "phoneEnabled": {
            "type": "boolean"
          },
          "companyNameInputLabel": {
            "type": "string",
            "nullable": true
          },
          "companyNameInputPlaceholder": {
            "type": "string",
            "nullable": true
          },
          "companyNameEnabled": {
            "type": "boolean"
          },
          "emailInputLabel": {
            "type": "string",
            "nullable": true
          },
          "emailInputPlaceholder": {
            "type": "string",
            "nullable": true
          },
          "emailEnabled": {
            "type": "boolean"
          },
          "sendOTPButtonLabel": {
            "type": "string",
            "nullable": true
          },
          "otpInputLabel": {
            "type": "string",
            "nullable": true
          },
          "otpInputPlaceholder": {
            "type": "string",
            "nullable": true
          },
          "submitButtonLabel": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AuthWindowHeader": {
        "type": "object",
        "properties": {
          "headerHeading": {
            "type": "string",
            "nullable": true
          },
          "headerSubHeading": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "AuthenticateToChatbotRequest": {
        "type": "object",
        "properties": {
          "externalUserLoginId": {
            "type": "string",
            "format": "uuid"
          },
          "otp": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "CallingConventions": {
        "enum": [1, 2, 3, 32, 64],
        "type": "integer",
        "format": "int32"
      },
      "ChatButtonText": {
        "type": "object",
        "properties": {
          "textColor": {
            "type": "string",
            "nullable": true
          },
          "backgroundColor": {
            "type": "string",
            "nullable": true
          },
          "borderRadius": {
            "type": "string",
            "nullable": true
          },
          "fontSize": {
            "type": "string",
            "nullable": true
          },
          "paddingX": {
            "type": "string",
            "nullable": true
          },
          "paddingY": {
            "type": "string",
            "nullable": true
          },
          "message": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ChatEntryResponse": {
        "type": "object",
        "properties": {
          "conversationId": {
            "type": "string",
            "format": "uuid"
          },
          "aiSystem": {
            "type": "string",
            "nullable": true
          },
          "model": {
            "type": "string",
            "nullable": true
          },
          "personaId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "personaVersionId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "conversationStatus": {
            "type": "string",
            "nullable": true
          },
          "conversationName": {
            "type": "string",
            "nullable": true
          },
          "chatMessages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HyperleapChatMessageResponse"
            },
            "nullable": true
          },
          "chatMessagesCount": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "chatStarted": {
            "type": "boolean",
            "nullable": true
          },
          "areChatMessagesInBlob": {
            "type": "boolean",
            "nullable": true
          },
          "chatMessagesBlobUri": {
            "type": "string",
            "nullable": true
          },
          "configuration": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/JsonNode"
            },
            "nullable": true
          },
          "externalUserId": {
            "type": "string",
            "nullable": true
          },
          "isActive": {
            "type": "boolean"
          },
          "isDeleted": {
            "type": "boolean"
          },
          "promptTokens": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "completionTokens": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "totalTokens": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ChatEntryResponseResultSet": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatEntryResponse"
            },
            "nullable": true
          },
          "continuationToken": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ChatWindow": {
        "type": "object",
        "properties": {
          "header": {
            "$ref": "#/components/schemas/ChatWindowHeader"
          },
          "body": {
            "$ref": "#/components/schemas/ChatWindowBody"
          }
        },
        "additionalProperties": false
      },
      "ChatWindowBody": {
        "type": "object",
        "properties": {
          "assistantAvatar": {
            "type": "string",
            "nullable": true
          },
          "userAvatar": {
            "type": "string",
            "nullable": true
          },
          "userInputPlaceholder": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ChatWindowHeader": {
        "type": "object",
        "properties": {
          "headerHeading": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ChatbotContent": {
        "type": "object",
        "properties": {
          "greetingMessage": {
            "type": "string",
            "nullable": true
          },
          "logo": {
            "type": "string",
            "nullable": true
          },
          "headerBackground": {
            "type": "string",
            "nullable": true
          },
          "authWindow": {
            "$ref": "#/components/schemas/AuthWindow"
          },
          "chatWindow": {
            "$ref": "#/components/schemas/ChatWindow"
          }
        },
        "additionalProperties": false
      },
      "ChatbotSettings": {
        "type": "object",
        "properties": {
          "allowedWebsites": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "nullable": true,
            "readOnly": true
          },
          "loginMode": {
            "type": "integer",
            "format": "int32"
          },
          "response_delay": {
            "type": "integer",
            "format": "int32"
          },
          "enabled": {
            "type": "boolean",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ChatbotStats": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer",
            "format": "int32"
          },
          "published": {
            "type": "integer",
            "format": "int32"
          },
          "leads": {
            "type": "integer",
            "format": "int32"
          },
          "runs": {
            "$ref": "#/components/schemas/RunStats"
          }
        },
        "additionalProperties": false
      },
      "ChatbotStyling": {
        "type": "object",
        "properties": {
          "shadow": {
            "type": "string",
            "nullable": true
          },
          "fontFamily": {
            "type": "string",
            "nullable": true
          },
          "borderRadius": {
            "type": "string",
            "nullable": true
          },
          "chatIcon": {
            "$ref": "#/components/schemas/ChatbotStylingChatIcon"
          },
          "authWindow": {
            "$ref": "#/components/schemas/ChatbotStylingAuthWindow"
          },
          "chatWindow": {
            "$ref": "#/components/schemas/ChatbotStylingChatWindow"
          },
          "globalWindow": {
            "$ref": "#/components/schemas/ChatbotStylingGlobalWindow"
          },
          "chatButtonText": {
            "$ref": "#/components/schemas/ChatButtonText"
          }
        },
        "additionalProperties": false
      },
      "ChatbotStylingAuthWindow": {
        "type": "object",
        "properties": {
          "header": {
            "$ref": "#/components/schemas/ChatbotStylingAuthWindowHeader"
          },
          "body": {
            "$ref": "#/components/schemas/ChatbotStylingAuthWindowBody"
          }
        },
        "additionalProperties": false
      },
      "ChatbotStylingAuthWindowBody": {
        "type": "object",
        "properties": {
          "headingFontSize": {
            "type": "string",
            "nullable": true
          },
          "bodyBackgroundColor": {
            "type": "string",
            "nullable": true
          },
          "bodyTextColor": {
            "type": "string",
            "nullable": true
          },
          "buttonBackgroundColor": {
            "type": "string",
            "nullable": true
          },
          "buttonTextColor": {
            "type": "string",
            "nullable": true
          },
          "buttonBorderRadius": {
            "type": "string",
            "nullable": true
          },
          "buttonFontSize": {
            "type": "string",
            "nullable": true
          },
          "fontSize": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ChatbotStylingAuthWindowHeader": {
        "type": "object",
        "properties": {
          "headerBackgroundColor": {
            "type": "string",
            "nullable": true
          },
          "headerTextColor": {
            "type": "string",
            "nullable": true
          },
          "headerFontSize": {
            "type": "string",
            "nullable": true
          },
          "headerSubHeadingColor": {
            "type": "string",
            "nullable": true
          },
          "headerSubHeadingFontSize": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ChatbotStylingChatIcon": {
        "type": "object",
        "properties": {
          "icon_color": {
            "type": "string",
            "nullable": true
          },
          "icon_background_color": {
            "type": "string",
            "nullable": true
          },
          "position": {
            "type": "string",
            "nullable": true
          },
          "icon_border_radius": {
            "type": "integer",
            "format": "int32"
          },
          "shadow": {
            "type": "string",
            "nullable": true
          },
          "margin": {
            "type": "string",
            "nullable": true
          },
          "size": {
            "type": "string",
            "nullable": true
          },
          "hover_background_color": {
            "type": "string",
            "nullable": true
          },
          "hover_color": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ChatbotStylingChatWindow": {
        "type": "object",
        "properties": {
          "header": {
            "$ref": "#/components/schemas/ChatbotStylingChatWindowHeader"
          },
          "body": {
            "$ref": "#/components/schemas/ChatbotStylingChatWindowBody"
          }
        },
        "additionalProperties": false
      },
      "ChatbotStylingChatWindowBody": {
        "type": "object",
        "properties": {
          "bodyBackgroundColor": {
            "type": "string",
            "nullable": true
          },
          "assistantMessageBackgroundColor": {
            "type": "string",
            "nullable": true
          },
          "assistantMessageTextColor": {
            "type": "string",
            "nullable": true
          },
          "userMessageBackgroundColor": {
            "type": "string",
            "nullable": true
          },
          "userMessageTextColor": {
            "type": "string",
            "nullable": true
          },
          "sendButtonColor": {
            "type": "string",
            "nullable": true
          },
          "userInputFontSize": {
            "type": "string",
            "nullable": true
          },
          "messageFontSize": {
            "type": "string",
            "nullable": true
          },
          "userInputTextColor": {
            "type": "string",
            "nullable": true
          },
          "scrollbarWidth": {
            "type": "string",
            "nullable": true
          },
          "scrollbarTrackColor": {
            "type": "string",
            "nullable": true
          },
          "scrollbarThumbColor": {
            "type": "string",
            "nullable": true
          },
          "messagePadding": {
            "type": "string",
            "nullable": true
          },
          "messageSpacing": {
            "type": "string",
            "nullable": true
          },
          "inputAreaBorderColor": {
            "type": "string",
            "nullable": true
          },
          "inputAreaBackgroundColor": {
            "type": "string",
            "nullable": true
          },
          "typingIndicatorColor": {
            "type": "string",
            "nullable": true
          },
          "linkColor": {
            "type": "string",
            "nullable": true
          },
          "linkHoverColor": {
            "type": "string",
            "nullable": true
          },
          "codeBlockBackground": {
            "type": "string",
            "nullable": true
          },
          "codeBlockTextColor": {
            "type": "string",
            "nullable": true
          },
          "quotedTextBackground": {
            "type": "string",
            "nullable": true
          },
          "messageBoxShadow": {
            "type": "string",
            "nullable": true
          },
          "inputAreaHeight": {
            "type": "string",
            "nullable": true
          },
          "inputAreaMaxHeight": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ChatbotStylingChatWindowHeader": {
        "type": "object",
        "properties": {
          "headerBackgroundColor": {
            "type": "string",
            "nullable": true
          },
          "headerTextColor": {
            "type": "string",
            "nullable": true
          },
          "headerFontSize": {
            "type": "string",
            "nullable": true
          },
          "headerHeight": {
            "type": "string",
            "nullable": true
          },
          "headerPadding": {
            "type": "string",
            "nullable": true
          },
          "closeButtonColor": {
            "type": "string",
            "nullable": true
          },
          "closeButtonHoverColor": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ChatbotStylingGlobalWindow": {
        "type": "object",
        "properties": {
          "fontFamily": {
            "type": "string",
            "nullable": true
          },
          "shadow": {
            "type": "string",
            "nullable": true
          },
          "borderRadius": {
            "type": "string",
            "nullable": true
          },
          "bodyBackgroundColor": {
            "type": "string",
            "nullable": true
          },
          "showBranding": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "Citation": {
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "nullable": true
          },
          "index": {
            "type": "string",
            "nullable": true
          },
          "documentId": {
            "type": "string",
            "nullable": true
          },
          "fileId": {
            "type": "string",
            "nullable": true
          },
          "sourceContentType": {
            "type": "string",
            "nullable": true
          },
          "sourceName": {
            "type": "string",
            "nullable": true
          },
          "sourceUrl": {
            "type": "string",
            "nullable": true
          },
          "partitions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Partition"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ClientErrorDto": {
        "type": "object",
        "properties": {
          "errorMessage": {
            "type": "string",
            "nullable": true
          },
          "stackTrace": {
            "type": "string",
            "nullable": true
          },
          "userId": {
            "type": "string",
            "nullable": true
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "additionalInfo": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "nullable": true
            },
            "nullable": true
          },
          "headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "nullable": true
            },
            "nullable": true
          },
          "pageUrl": {
            "type": "string",
            "nullable": true
          },
          "pageTitle": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "ConstructorInfo": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "nullable": true,
            "readOnly": true
          },
          "declaringType": {
            "$ref": "#/components/schemas/Type"
          },
          "reflectedType": {
            "$ref": "#/components/schemas/Type"
          },
          "module": {
            "$ref": "#/components/schemas/Module"
          },
          "customAttributes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomAttributeData"
            },
            "nullable": true,
            "readOnly": true
          },
          "isCollectible": {
            "type": "boolean",
            "readOnly": true
          },
          "metadataToken": {
            "type": "integer",
            "format": "int32",
            "readOnly": true
          },
          "attributes": {
            "$ref": "#/components/schemas/MethodAttributes"
          },
          "methodImplementationFlags": {
            "$ref": "#/components/schemas/MethodImplAttributes"
          },
          "callingConvention": {
            "$ref": "#/components/schemas/CallingConventions"
          },
          "isAbstract": {
            "type": "boolean",
            "readOnly": true
          },
          "isConstructor": {
            "type": "boolean",
            "readOnly": true
          },
          "isFinal": {
            "type": "boolean",
            "readOnly": true
          },
          "isHideBySig": {
            "type": "boolean",
            "readOnly": true
          },
          "isSpecialName": {
            "type": "boolean",
            "readOnly": true
          },
          "isStatic": {
            "type": "boolean",
            "readOnly": true
          },
          "isVirtual": {
            "type": "boolean",
            "readOnly": true
          },
          "isAssembly": {
            "type": "boolean",
            "readOnly": true
          },
          "isFamily": {
            "type": "boolean",
            "readOnly": true
          },
          "isFamilyAndAssembly": {
            "type": "boolean",
            "readOnly": true
          },
          "isFamilyOrAssembly": {
            "type": "boolean",
            "readOnly": true
          },
          "isPrivate": {
            "type": "boolean",
            "readOnly": true
          },
          "isPublic": {
            "type": "boolean",
            "readOnly": true
          },
          "isConstructedGenericMethod": {
            "type": "boolean",
            "readOnly": true
          },
          "isGenericMethod": {
            "type": "boolean",
            "readOnly": true
          },
          "isGenericMethodDefinition": {
            "type": "boolean",
            "readOnly": true
          },
          "containsGenericParameters": {
            "type": "boolean",
            "readOnly": true
          },
          "methodHandle": {
            "$ref": "#/components/schemas/RuntimeMethodHandle"
          },
          "isSecurityCritical": {
            "type": "boolean",
            "readOnly": true
          },
          "isSecuritySafeCritical": {
            "type": "boolean",
            "readOnly": true
          },
          "isSecurityTransparent": {
            "type": "boolean",
            "readOnly": true
          },
          "memberType": {
            "$ref": "#/components/schemas/MemberTypes"
          }
        },
        "additionalProperties": false
      },
      "CreateAskRequest": {
        "type": "object",
        "properties": {
          "question": {
            "type": "string",
            "nullable": true
          },
          "aiProvider": {
            "$ref": "#/components/schemas/AiProvider"
          },
          "model": {
            "type": "string",
            "nullable": true
          },
          "configuration": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "nullable": true
          },
          "minRelevance": {
            "type": "number",
            "format": "double"
          },
          "limit": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "CreateChatbotRequest": {
        "required": ["aiSystem", "chatbotDescription", "chatbotName", "model"],
        "type": "object",
        "properties": {
          "chatbotName": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string"
          },
          "chatbotDescription": {
            "maxLength": 500,
            "minLength": 1,
            "type": "string"
          },
          "chatbotGreeting": {
            "maxLength": 500,
            "type": "string",
            "nullable": true
          },
          "chatbotTags": {
            "maxLength": 2000,
            "type": "string",
            "nullable": true
          },
          "imageUrl": {
            "maxLength": 2000,
            "type": "string",
            "nullable": true
          },
          "chatbotContent": {
            "$ref": "#/components/schemas/ChatbotContent"
          },
          "chatbotStyling": {
            "$ref": "#/components/schemas/ChatbotStyling"
          },
          "chatbotSettings": {
            "$ref": "#/components/schemas/ChatbotSettings"
          },
          "loginRequired": {
            "type": "boolean"
          },
          "isLoginPersistent": {
            "type": "boolean"
          },
          "chatbotText": {
            "type": "string",
            "nullable": true
          },
          "chatbotAssistantMessage": {
            "type": "string",
            "nullable": true
          },
          "isActive": {
            "type": "boolean"
          },
          "isPublished": {
            "type": "boolean"
          },
          "isSecret": {
            "type": "boolean"
          },
          "isChatbot": {
            "type": "boolean"
          },
          "chatbotConfiguration": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "nullable": true
          },
          "model": {
            "minLength": 1,
            "type": "string"
          },
          "aiSystem": {
            "$ref": "#/components/schemas/AiProvider"
          },
          "dataspaceIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          },
          "workspaceId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "ownedBy": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CreateDataspaceRequest": {
        "type": "object",
        "properties": {
          "dataspaceName": {
            "type": "string",
            "nullable": true
          },
          "dataspaceDescription": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CreateDataspaceStringRequest": {
        "required": ["stringContent"],
        "type": "object",
        "properties": {
          "stringContent": {
            "maxLength": 10000000,
            "minLength": 10,
            "type": "string"
          },
          "stringName": {
            "type": "string",
            "nullable": true
          },
          "dataspaceId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "additionalProperties": false
      },
      "CreateDataspaceUserRequest": {
        "required": ["dataspaceId", "dataspaceRoleId", "userId"],
        "type": "object",
        "properties": {
          "dataspaceId": {
            "type": "string",
            "format": "uuid"
          },
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "dataspaceRoleId": {
            "maximum": 5,
            "minimum": 0,
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false
      },
      "CreateDataspaceWebsiteRequest": {
        "type": "object",
        "properties": {
          "websiteUrl": {
            "type": "string",
            "nullable": true
          },
          "dataspaceId": {
            "type": "string",
            "format": "uuid"
          },
          "dataspaceWebsiteName": {
            "type": "string",
            "nullable": true
          },
          "process": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "CreateGenAiChatRequest": {
        "required": ["aiSystem", "model"],
        "type": "object",
        "properties": {
          "systemMessage": {
            "type": "string",
            "nullable": true
          },
          "aiSystem": {
            "$ref": "#/components/schemas/AiProvider"
          },
          "model": {
            "minLength": 1,
            "type": "string"
          },
          "configuration": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "nullable": true
          },
          "replacements": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/JsonNode"
            },
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/JsonNode"
            },
            "nullable": true
          },
          "externalUserId": {
            "type": "string",
            "nullable": true
          },
          "dataspaceIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CreateGenAiChatbotConversationRequest": {
        "required": ["chatbotId"],
        "type": "object",
        "properties": {
          "chatbotId": {
            "type": "string",
            "format": "uuid"
          },
          "replacements": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/JsonNode"
            },
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/JsonNode"
            },
            "nullable": true
          },
          "stream": {
            "type": "boolean"
          },
          "externalUserId": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CreateGenAiGptConversationRequest": {
        "required": ["gptId"],
        "type": "object",
        "properties": {
          "gptId": {
            "type": "string",
            "format": "uuid"
          },
          "replacements": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/JsonNode"
            },
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/JsonNode"
            },
            "nullable": true
          },
          "stream": {
            "type": "boolean"
          },
          "externalUserId": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CreateGenAiPersonaChatRequest": {
        "required": ["personaId"],
        "type": "object",
        "properties": {
          "personaId": {
            "type": "string",
            "format": "uuid"
          },
          "personaVersionId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "replacements": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/JsonNode"
            },
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/JsonNode"
            },
            "nullable": true
          },
          "stream": {
            "type": "boolean"
          },
          "externalUserId": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CreateGptRequest": {
        "required": ["gptDescription", "gptName"],
        "type": "object",
        "properties": {
          "gptName": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string"
          },
          "gptDescription": {
            "maxLength": 500,
            "minLength": 1,
            "type": "string"
          },
          "gptTags": {
            "maxLength": 2000,
            "type": "string",
            "nullable": true
          },
          "imageUrl": {
            "maxLength": 2000,
            "type": "string",
            "nullable": true
          },
          "gptText": {
            "type": "string",
            "nullable": true
          },
          "gptAssistantMessage": {
            "type": "string",
            "nullable": true
          },
          "isChattable": {
            "type": "boolean"
          },
          "gptConfiguration": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "nullable": true
          },
          "gptMetadata": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/JsonNode"
            },
            "nullable": true
          },
          "workspaceId": {
            "type": "string",
            "format": "uuid",
            "nullable": true
          },
          "dataspaceIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          },
          "model": {
            "maxLength": 50,
            "type": "string",
            "nullable": true
          },
          "aiSystem": {
            "$ref": "#/components/schemas/AiProvider"
          }
        },
        "additionalProperties": false
      },
      "CreateOrganizationConfigurationRequest": {
        "required": [
          "configurationName",
          "configurationType",
          "configurationValue"
        ],
        "type": "object",
        "properties": {
          "configurationName": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string"
          },
          "configurationType": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string"
          },
          "configurationValue": {
            "maxLength": 400,
            "minLength": 1,
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "CreateOrganizationDomainRequest": {
        "required": ["domainName"],
        "type": "object",
        "properties": {
          "domainName": {
            "maxLength": 200,
            "minLength": 1,
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "CreateOrganizationKeyRequest": {
        "type": "object",
        "properties": {
          "organizationKeyName": {
            "type": "string",
            "nullable": true
          },
          "organizationKeyDescription": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "CreatePersonaRequest": {
        "required": ["aiSystem", "model", "personaDescription", "personaName"],
        "type": "object",
        "properties": {
          "personaName": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string"
          },
          "personaDescription": {
            "maxLength": 500,
            "minLength": 1,
            "type": "string"
          },
          "personaGreeting": {
            "maxLength": 500,
            "type": "string",
            "nullable": true
          },
          "personaTags": {
            "maxLength": 2000,
            "type": "string",
            "nullable": true
          },
          "imageUrl": {
            "maxLength": 2000,
            "type": "string",
            "nullable": true
          },
          "personaText": {
            "type": "string",
            "nullable": true
          },
          "dataspaceIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          },
          "personaAssistantMessage": {
            "type": "string",
            "nullable": true
          },
          "isActive": {
            "type": "boolean"
          },
          "isApiEnabled": {
            "type": "boolean"
          },
          "isSecret": {
            "type": "boolean"
          },
          "isChattable": {
            "type": "boolean"
          },
          "isTool": {
            "type": "boolean"
          },
          "isChatbot": {
            "type": "boolean"
          },
          "personaConfiguration": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "nullable": true
          },
          "personaMetadata": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/JsonNode"
            },
            "nullable": true
          },
          "model": {
            "maxLength": 50,
            "minLength": 1,
            "type": "string"
          },
          "aiSystem": {
            "$ref": "#/components/schemas/AiProvider"
          }
        },
        "additionalProperties": false
      },
      "CreatePersonaVersionRequest": {
        "required": ["aiSystem", "model"],
        "type": "object",
        "properties": {
          "personaId": {
            "type": "string",
            "format": "uuid"
          },
          "personaText": {
            "type": "string",
            "nullable": true
          },
          "dataspaceIds": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            },
            "nullable": true
          },
          "personaGreeting": {
            "type": "string",
            "nullable": true
          },
          "personaConfiguration": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "nullable": true
          },
          "personaMetadata": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/JsonNode"
            },
            "nullable": true
          },
          "isActive": {
            "type": "boolean"
          },
          "aiSystem": {
            "$ref": "#/components/schemas/AiProvider"
          },
          "model": {
            "minLength": 1,
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "CreatePromptRequest": {
        "required": [
          "aiSystem",
          "configuration",
          "model",
          "promptDescription",
          "promptName",
          "promptText"
        ],
        "type": "object",
        "properties": {
          "promptName": {
[...]
