{
  "openapi": "3.0.1",
  "info": {
    "title": "api.hyperleapai.com",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.hyperleapai.com"
    }
  ],
  "paths": {
    "/app-config": {
      "get": {
        "tags": [
          "App"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GlobalConfig"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlobalConfig"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlobalConfig"
                }
              }
            }
          }
        }
      }
    },
    "/app/app-config": {
      "get": {
        "tags": [
          "App"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GlobalConfig"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlobalConfig"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GlobalConfig"
                }
              }
            }
          }
        }
      }
    },
    "/audit/conversations": {
      "post": {
        "tags": [
          "Audit Report"
        ],
        "summary": "Conversations",
        "description": "Get Conversations for audit based on filter conditions passed in.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/audit/conversations": {
      "post": {
        "tags": [
          "Audit Report"
        ],
        "summary": "Conversations",
        "description": "Get Conversations for audit based on filter conditions passed in.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/app/audit/conversations": {
      "post": {
        "tags": [
          "Audit Report"
        ],
        "summary": "Conversations",
        "description": "Get Conversations for audit based on filter conditions passed in.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/audit/persona-conversations": {
      "post": {
        "tags": [
          "Audit Report"
        ],
        "summary": "Persona Conversations",
        "description": "Get Persona Conversations for audit based on filter conditions passed in.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/audit/persona-conversations": {
      "post": {
        "tags": [
          "Audit Report"
        ],
        "summary": "Persona Conversations",
        "description": "Get Persona Conversations for audit based on filter conditions passed in.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/app/audit/persona-conversations": {
      "post": {
        "tags": [
          "Audit Report"
        ],
        "summary": "Persona Conversations",
        "description": "Get Persona Conversations for audit based on filter conditions passed in.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/audit/gpt-conversations": {
      "post": {
        "tags": [
          "AppAudit"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/audit/gpt-conversations": {
      "post": {
        "tags": [
          "AppAudit"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/app/audit/gpt-conversations": {
      "post": {
        "tags": [
          "AppAudit"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/audit/chatbot-conversations": {
      "post": {
        "tags": [
          "AppAudit"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/audit/chatbot-conversations": {
      "post": {
        "tags": [
          "AppAudit"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/app/audit/chatbot-conversations": {
      "post": {
        "tags": [
          "AppAudit"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/audit/prompt-runs": {
      "post": {
        "tags": [
          "Audit Report"
        ],
        "summary": "Prompt runs",
        "description": "Get Prompt runs for audit based on filter conditions passed in.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/audit/prompt-runs": {
      "post": {
        "tags": [
          "Audit Report"
        ],
        "summary": "Prompt runs",
        "description": "Get Prompt runs for audit based on filter conditions passed in.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/app/audit/prompt-runs": {
      "post": {
        "tags": [
          "Audit Report"
        ],
        "summary": "Prompt runs",
        "description": "Get Prompt runs for audit based on filter conditions passed in.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/audit/tool-runs": {
      "post": {
        "tags": [
          "Audit Report"
        ],
        "summary": "Tool runs",
        "description": "Get Tool runs for audit based on filter conditions passed in.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/audit/tool-runs": {
      "post": {
        "tags": [
          "Audit Report"
        ],
        "summary": "Tool runs",
        "description": "Get Tool runs for audit based on filter conditions passed in.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/app/audit/tool-runs": {
      "post": {
        "tags": [
          "Audit Report"
        ],
        "summary": "Tool runs",
        "description": "Get Tool runs for audit based on filter conditions passed in.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/audit/conversation-runs": {
      "post": {
        "tags": [
          "Audit Report"
        ],
        "summary": "Conversation runs",
        "description": "Get Conversation runs for audit based on filter conditions passed in.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/audit/conversation-runs": {
      "post": {
        "tags": [
          "Audit Report"
        ],
        "summary": "Conversation runs",
        "description": "Get Conversation runs for audit based on filter conditions passed in.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/app/audit/conversation-runs": {
      "post": {
        "tags": [
          "Audit Report"
        ],
        "summary": "Conversation runs",
        "description": "Get Conversation runs for audit based on filter conditions passed in.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/audit/persona-conversation-runs": {
      "post": {
        "tags": [
          "Audit Report"
        ],
        "summary": "Conversation runs",
        "description": "Get Conversation runs for audit based on filter conditions passed in.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/audit/persona-conversation-runs": {
      "post": {
        "tags": [
          "Audit Report"
        ],
        "summary": "Conversation runs",
        "description": "Get Conversation runs for audit based on filter conditions passed in.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/app/audit/persona-conversation-runs": {
      "post": {
        "tags": [
          "Audit Report"
        ],
        "summary": "Conversation runs",
        "description": "Get Conversation runs for audit based on filter conditions passed in.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/audit/gpt-runs": {
      "post": {
        "tags": [
          "Audit Report"
        ],
        "summary": "GPT runs",
        "description": "Get Conversation runs for audit based on filter conditions passed in.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/audit/gpt-runs": {
      "post": {
        "tags": [
          "Audit Report"
        ],
        "summary": "GPT runs",
        "description": "Get Conversation runs for audit based on filter conditions passed in.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/app/audit/gpt-runs": {
      "post": {
        "tags": [
          "Audit Report"
        ],
        "summary": "GPT runs",
        "description": "Get Conversation runs for audit based on filter conditions passed in.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/audit/chatbot-runs": {
      "post": {
        "tags": [
          "Audit Report"
        ],
        "summary": "Chatbot runs",
        "description": "Get Conversation runs for audit based on filter conditions passed in.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/audit/chatbot-runs": {
      "post": {
        "tags": [
          "Audit Report"
        ],
        "summary": "Chatbot runs",
        "description": "Get Conversation runs for audit based on filter conditions passed in.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/app/audit/chatbot-runs": {
      "post": {
        "tags": [
          "Audit Report"
        ],
        "summary": "Chatbot runs",
        "description": "Get Conversation runs for audit based on filter conditions passed in.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuditReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/audit/prompt-run/{promptRunId}": {
      "get": {
        "tags": [
          "Audit Report"
        ],
        "summary": "Prompt run details",
        "description": "Get details of a specific prompt run for audit.",
        "parameters": [
          {
            "name": "promptRunId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/audit/prompt-run/{promptRunId}": {
      "get": {
        "tags": [
          "Audit Report"
        ],
        "summary": "Prompt run details",
        "description": "Get details of a specific prompt run for audit.",
        "parameters": [
          {
            "name": "promptRunId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/app/audit/prompt-run/{promptRunId}": {
      "get": {
        "tags": [
          "Audit Report"
        ],
        "summary": "Prompt run details",
        "description": "Get details of a specific prompt run for audit.",
        "parameters": [
          {
            "name": "promptRunId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/audit/conversation-run/{conversationRunId}": {
      "get": {
        "tags": [
          "Audit Report"
        ],
        "summary": "Conversation run details",
        "description": "Get details of a specific conversation run for audit.",
        "parameters": [
          {
            "name": "conversationRunId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/audit/conversation-run/{conversationRunId}": {
      "get": {
        "tags": [
          "Audit Report"
        ],
        "summary": "Conversation run details",
        "description": "Get details of a specific conversation run for audit.",
        "parameters": [
          {
            "name": "conversationRunId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/app/audit/conversation-run/{conversationRunId}": {
      "get": {
        "tags": [
          "Audit Report"
        ],
        "summary": "Conversation run details",
        "description": "Get details of a specific conversation run for audit.",
        "parameters": [
          {
            "name": "conversationRunId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/audit/gpt-run/{gptRunId}": {
      "get": {
        "tags": [
          "Audit Report"
        ],
        "summary": "GPT run details",
        "description": "Get details of a specific gpt run for audit.",
        "parameters": [
          {
            "name": "gptRunId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/audit/gpt-run/{gptRunId}": {
      "get": {
        "tags": [
          "Audit Report"
        ],
        "summary": "GPT run details",
        "description": "Get details of a specific gpt run for audit.",
        "parameters": [
          {
            "name": "gptRunId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/app/audit/gpt-run/{gptRunId}": {
      "get": {
        "tags": [
          "Audit Report"
        ],
        "summary": "GPT run details",
        "description": "Get details of a specific gpt run for audit.",
        "parameters": [
          {
            "name": "gptRunId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/audit/chatbot-run/{chatbotRunId}": {
      "get": {
        "tags": [
          "Audit Report"
        ],
        "summary": "Chatbot run details",
        "description": "Get details of a specific chatbot run for audit.",
        "parameters": [
          {
            "name": "chatbotRunId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/audit/chatbot-run/{chatbotRunId}": {
      "get": {
        "tags": [
          "Audit Report"
        ],
        "summary": "Chatbot run details",
        "description": "Get details of a specific chatbot run for audit.",
        "parameters": [
          {
            "name": "chatbotRunId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/app/audit/chatbot-run/{chatbotRunId}": {
      "get": {
        "tags": [
          "Audit Report"
        ],
        "summary": "Chatbot run details",
        "description": "Get details of a specific chatbot run for audit.",
        "parameters": [
          {
            "name": "chatbotRunId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/audit/tool-run/{toolRunId}": {
      "get": {
        "tags": [
          "Audit Report"
        ],
        "summary": "Tool run details",
        "description": "Get details of a specific tool run for audit.",
        "parameters": [
          {
            "name": "toolRunId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/audit/tool-run/{toolRunId}": {
      "get": {
        "tags": [
          "Audit Report"
        ],
        "summary": "Tool run details",
        "description": "Get details of a specific tool run for audit.",
        "parameters": [
          {
            "name": "toolRunId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/app/audit/tool-run/{toolRunId}": {
      "get": {
        "tags": [
          "Audit Report"
        ],
        "summary": "Tool run details",
        "description": "Get details of a specific tool run for audit.",
        "parameters": [
          {
            "name": "toolRunId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/conversation-runs/{promptRunId}": {
      "get": {
        "tags": [
          "AppConversationRuns"
        ],
        "parameters": [
          {
            "name": "promptRunId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/conversation-runs/{promptRunId}": {
      "get": {
        "tags": [
          "AppConversationRuns"
        ],
        "parameters": [
          {
            "name": "promptRunId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/conversation-runs": {
      "get": {
        "tags": [
          "AppConversationRuns"
        ],
        "parameters": [
          {
            "name": "continuationToken",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Prompts"
        ],
        "summary": "Run Prompt (Streaming and Non-streaming)",
        "description": "Run a specific prompt based on the Prompt ID and Prompt Version ID passed in. Supports both streaming and non-streaming responses.",
        "parameters": [
          {
            "name": "stream",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/conversation-runs": {
      "get": {
        "tags": [
          "AppConversationRuns"
        ],
        "parameters": [
          {
            "name": "continuationToken",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "post": {
        "tags": [
          "Prompts"
        ],
        "summary": "Run Prompt (Streaming and Non-streaming)",
        "description": "Run a specific prompt based on the Prompt ID and Prompt Version ID passed in. Supports both streaming and non-streaming responses.",
        "parameters": [
          {
            "name": "stream",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/conversation-runs/persona/{personaId}": {
      "get": {
        "tags": [
          "AppConversationRuns"
        ],
        "parameters": [
          {
            "name": "personaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "continuationToken",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/conversation-runs/persona/{personaId}": {
      "get": {
        "tags": [
          "AppConversationRuns"
        ],
        "parameters": [
          {
            "name": "personaId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "continuationToken",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/conversation-runs/execute": {
      "post": {
        "tags": [
          "Prompts"
        ],
        "summary": "Run Prompt (Streaming and Non-streaming)",
        "description": "Run a specific prompt based on the Prompt ID and Prompt Version ID passed in. Supports both streaming and non-streaming responses.",
        "parameters": [
          {
            "name": "stream",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/conversation-runs/execute": {
      "post": {
        "tags": [
          "Prompts"
        ],
        "summary": "Run Prompt (Streaming and Non-streaming)",
        "description": "Run a specific prompt based on the Prompt ID and Prompt Version ID passed in. Supports both streaming and non-streaming responses.",
        "parameters": [
          {
            "name": "stream",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/conversation-runs/sync": {
      "post": {
        "tags": [
          "Prompts"
        ],
        "summary": "Run Prompt (Non-streaming)",
        "description": "Run a specific prompt based on the Prompt ID and Prompt Version ID passed in. Supports both streaming and non-streaming responses.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/conversation-runs/sync": {
      "post": {
        "tags": [
          "Prompts"
        ],
        "summary": "Run Prompt (Non-streaming)",
        "description": "Run a specific prompt based on the Prompt ID and Prompt Version ID passed in. Supports both streaming and non-streaming responses.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/conversation-runs/stream": {
      "post": {
        "tags": [
          "Prompts"
        ],
        "summary": "Run Prompt (HTTP/2 Streaming)",
        "description": "Run a specific prompt based on the Prompt ID and Prompt Version ID passed in. The results will be streamed using HTTP/2. Not recommended when creating classifiers to make decisions, since full response is not available for decision making.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/conversation-runs/stream": {
      "post": {
        "tags": [
          "Prompts"
        ],
        "summary": "Run Prompt (HTTP/2 Streaming)",
        "description": "Run a specific prompt based on the Prompt ID and Prompt Version ID passed in. The results will be streamed using HTTP/2. Not recommended when creating classifiers to make decisions, since full response is not available for decision making.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/conversation-runs/http2-stream": {
      "post": {
        "tags": [
          "Prompts"
        ],
        "summary": "Run Prompt (HTTP/2 Streaming)",
        "description": "Run a specific prompt based on the Prompt ID and Prompt Version ID passed in. The results will be streamed using HTTP/2. Not recommended when creating classifiers to make decisions, since full response is not available for decision making.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/conversation-runs/http2-stream": {
      "post": {
        "tags": [
          "Prompts"
        ],
        "summary": "Run Prompt (HTTP/2 Streaming)",
        "description": "Run a specific prompt based on the Prompt ID and Prompt Version ID passed in. The results will be streamed using HTTP/2. Not recommended when creating classifiers to make decisions, since full response is not available for decision making.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/conversation-runs/async": {
      "post": {
        "tags": [
          "Prompts"
        ],
        "summary": "Run Prompt (HTTP/2 Streaming)",
        "description": "Run a specific prompt based on the Prompt ID and Prompt Version ID passed in. The results will be streamed using HTTP/2. Not recommended when creating classifiers to make decisions, since full response is not available for decision making.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/conversation-runs/async": {
      "post": {
        "tags": [
          "Prompts"
        ],
        "summary": "Run Prompt (HTTP/2 Streaming)",
        "description": "Run a specific prompt based on the Prompt ID and Prompt Version ID passed in. The results will be streamed using HTTP/2. Not recommended when creating classifiers to make decisions, since full response is not available for decision making.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            }
          }
        },
        "responses": {
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/conversation-runs/sse-stream": {
      "post": {
        "tags": [
          "Prompts"
        ],
        "summary": "Run Prompt (SSE Streaming)",
        "description": "Run a specific prompt based on the Prompt ID and Prompt Version ID passed in. The results will be streamed using SSE. Not recommended when creating classifiers to make decisions, since full response is not available for decision making.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GenAiStreamingChatChoice"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GenAiStreamingChatChoice"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GenAiStreamingChatChoice"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/conversation-runs/sse-stream": {
      "post": {
        "tags": [
          "Prompts"
        ],
        "summary": "Run Prompt (SSE Streaming)",
        "description": "Run a specific prompt based on the Prompt ID and Prompt Version ID passed in. The results will be streamed using SSE. Not recommended when creating classifiers to make decisions, since full response is not available for decision making.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/PromptRunRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GenAiStreamingChatChoice"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GenAiStreamingChatChoice"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GenAiStreamingChatChoice"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/conversation-runs/{promptRunId}/set-score": {
      "patch": {
        "tags": [
          "Capture Feedback"
        ],
        "summary": "Set Prompt run Score",
        "description": "Update the score parameters for a Prompt run based on User feedback.",
        "parameters": [
          {
            "name": "promptRunId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertRunScoreRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertRunScoreRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertRunScoreRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/conversation-runs/{promptRunId}/set-score": {
      "patch": {
        "tags": [
          "Capture Feedback"
        ],
        "summary": "Set Prompt run Score",
        "description": "Update the score parameters for a Prompt run based on User feedback.",
        "parameters": [
          {
            "name": "promptRunId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertRunScoreRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertRunScoreRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertRunScoreRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/conversations": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Create a General Conversation",
        "description": "Create a General Conversation, without targetting a Persona.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGenAiChatRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGenAiChatRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGenAiChatRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "get": {
        "tags": [
          "Conversations"
        ],
        "summary": "Get All Conversations",
        "description": "Get all the conversations for the specified caller, 10 at a time.",
        "parameters": [
          {
            "name": "continuationToken",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponseResultSet"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponseResultSet"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponseResultSet"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/conversations": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Create a General Conversation",
        "description": "Create a General Conversation, without targetting a Persona.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGenAiChatRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGenAiChatRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGenAiChatRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "get": {
        "tags": [
          "Conversations"
        ],
        "summary": "Get All Conversations",
        "description": "Get all the conversations for the specified caller, 10 at a time.",
        "parameters": [
          {
            "name": "continuationToken",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponseResultSet"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponseResultSet"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponseResultSet"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/conversations/persona": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Create a Persona Conversation",
        "description": "Start a Conversation with a Persona.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGenAiPersonaChatRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGenAiPersonaChatRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGenAiPersonaChatRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/conversations/persona": {
      "post": {
        "tags": [
          "Conversations"
        ],
        "summary": "Create a Persona Conversation",
        "description": "Start a Conversation with a Persona.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGenAiPersonaChatRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGenAiPersonaChatRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGenAiPersonaChatRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponse"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatEntryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/conversations/{conversationId}/continue": {
      "patch": {
        "tags": [
          "Conversations"
        ],
        "summary": "Continue (HTTP/2 Streaming)",
        "description": "Send a user message and continue an existing Conversation. Streams response using HTTP/2 (recommended).",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenAiUserMessage"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GenAiUserMessage"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GenAiUserMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GenAiStreamingChatChoice"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenAiStreamingChatChoice"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenAiStreamingChatChoice"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/conversations/{conversationId}/continue": {
      "patch": {
        "tags": [
          "Conversations"
        ],
        "summary": "Continue (HTTP/2 Streaming)",
        "description": "Send a user message and continue an existing Conversation. Streams response using HTTP/2 (recommended).",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenAiUserMessage"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GenAiUserMessage"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GenAiUserMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GenAiStreamingChatChoice"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenAiStreamingChatChoice"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenAiStreamingChatChoice"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/conversations/{conversationId}/chat-http2": {
      "patch": {
        "tags": [
          "Conversations"
        ],
        "summary": "Continue (HTTP/2 Streaming)",
        "description": "Send a user message and continue an existing Conversation. Streams response using HTTP/2 (recommended).",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenAiUserMessage"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GenAiUserMessage"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GenAiUserMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GenAiStreamingChatChoice"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenAiStreamingChatChoice"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenAiStreamingChatChoice"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/conversations/{conversationId}/chat-http2": {
      "patch": {
        "tags": [
          "Conversations"
        ],
        "summary": "Continue (HTTP/2 Streaming)",
        "description": "Send a user message and continue an existing Conversation. Streams response using HTTP/2 (recommended).",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenAiUserMessage"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GenAiUserMessage"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GenAiUserMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GenAiStreamingChatChoice"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenAiStreamingChatChoice"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenAiStreamingChatChoice"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/conversations/{conversationId}/continue-sse": {
      "patch": {
        "tags": [
          "Conversations"
        ],
        "summary": "Continue (SSE Streaming)",
        "description": "Send a user message and continue an existing Conversation. Streams response using SSE.",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenAiUserMessage"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GenAiUserMessage"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GenAiUserMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GenAiStreamingChatChoice"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenAiStreamingChatChoice"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenAiStreamingChatChoice"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/conversations/{conversationId}/continue-sse": {
      "patch": {
        "tags": [
          "Conversations"
        ],
        "summary": "Continue (SSE Streaming)",
        "description": "Send a user message and continue an existing Conversation. Streams response using SSE.",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenAiUserMessage"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/GenAiUserMessage"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/GenAiUserMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GenAiStreamingChatChoice"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenAiStreamingChatChoice"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenAiStreamingChatChoice"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ModelError"
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/conversations/{conversationId}/chat-sse": {
      "patch": {
        "tags": [
          "Conversations"
        ],
        "summary": "Continue (SSE Streaming)",
        "description": "Send a user message and continue an existing Conversation. Streams response using SSE.",
        "parameters": [
          {
            "name": "conversationId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
[...]
